In [0]:
%python
import pandas as pd

covid19_1_2 = pd.read_excel("NaverBlog19_1_2.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid19_3_4 = pd.read_excel("NaverBlog19_03_04.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid19_5_6 = pd.read_excel("NaverBlog19_05_06.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid19_7_8 = pd.read_excel("NaverBlog19_7_8.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid19_9_10 = pd.read_excel("NaverBlog19_9_10.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid19_11_12 = pd.read_excel("NaverBlog19_11_12.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_1 = pd.read_excel("NaverBlog20_01.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_1_1 = pd.read_excel("NaverBlog20_01_2.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_1_2 = pd.read_excel("NaverBlog20_01_3.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_1_3 = pd.read_excel("NaverBlog20_01_4.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_2 = pd.read_excel("NaverBlog20_02.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_2_1 = pd.read_excel("NaverBlog20_02_01.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_2_2 = pd.read_excel("NaverBlog20_02_02.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_3 = pd.read_excel("NaverBlog20_03.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_4 = pd.read_excel("NaverBlog20_04.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_4_1 = pd.read_excel("NaverBlog20_04_01.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_5 = pd.read_excel("NaverBlog20_05.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_6 = pd.read_excel("NaverBlog20_06.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_7 = pd.read_excel("NaverBlog20_07.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_8 = pd.read_excel("NaverBlog20_08.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_9 = pd.read_excel("NaverBlog20_09.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_10 = pd.read_excel("NaverBlog20_10.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_11 = pd.read_excel("NaverBlog20_11.xlsx", sheet_name="naverBlog", names =['content','date'] )
covid20_12 = pd.read_excel("NaverBlog20_12.xlsx", sheet_name="naverBlog", names =['content','date'] )

print(covid['content'])

In [1]:
%python

# 월별 데이터 묶어주기
print(covid20_1.shape)

covid20_1 = pd.concat([covid20_1,covid20_1_1])
covid20_1 = pd.concat([covid20_1,covid20_1_2])
covid20_1 = pd.concat([covid20_1,covid20_1_3])

covid20_2 = pd.concat([covid20_2,covid20_2_1])
covid20_2 = pd.concat([covid20_2,covid20_2_2])

covid20_4 = pd.concat([covid20_4,covid20_4_1])

In [2]:
%python
# 2019년 데이터를 하나로 합친 dataframe도 생성해주었다
covid19 = pd.concat([covid19_1_2,covid19_3_4,covid19_5_6,covid19_7_8,covid19_9_10,covid19_11_12])
print(covid19.shape)

In [3]:
%python
# 결측치 들어있는 행 전체 삭제

covid19=covid19.dropna(axis=0)
covid20_1=covid20_1.dropna(axis=0)
covid20_2=covid20_2.dropna(axis=0)
covid20_3=covid20_3.dropna(axis=0)
covid20_4=covid20_4.dropna(axis=0)
covid20_5=covid20_5.dropna(axis=0)
covid20_6=covid20_6.dropna(axis=0)
covid20_7=covid20_7.dropna(axis=0)
covid20_8=covid20_8.dropna(axis=0)
covid20_9=covid20_9.dropna(axis=0)
covid20_10=covid20_10.dropna(axis=0)
covid20_11=covid20_11.dropna(axis=0)
covid20_12=covid20_12.dropna(axis=0)

print(covid19)

In [4]:
%python
ana19 = analysis(covid19)
noun_list(ana19)

In [5]:
%python
import pandas as pd
from konlpy.tag import Okt
from nltk import Text

# 형태소 분석을 위한 모듈 생성
def noun_list(okt):
    df = pd.DataFrame(columns=['noun', 'frequency'])
    for tags, counts in okt.vocab().most_common(70):
        if tags in ["것","수”,"곳","이","때","더","저","등","그","정말","제","날","분","바로","전","우리","내","나","거","안","중","번","또","위","점","말","만"]:
            continue
        df = df.append(pd.DataFrame([[tags, counts]], columns=['noun', 'frequency']), ignore_index=True)
    return z.show(df)

def analysis(name):
    list = ""
    for i in name.index: 
        list += str(name.loc[i,"content"])
    okt = Okt()
    myList = okt.pos(list, norm=True, stem=True) # 모든 형태소 추출
    myList_filter = [x for x, y in myList if y in ['Noun']] # 추출된 값 중 명사만 추출
    return Text(myList_filter, name="Okt")

In [6]:
%python
from konlpy.tag import Okt
from nltk import Text

covid20_1_list = ""
for i in covid20_1.index: 
    covid19_list += str(covid20_1.loc[i,"content"])

okt = Okt()
myList = okt.pos(covid19_list, norm=True, stem=True) # 모든 형태소 추출
myList_filter = [x for x, y in myList if y in ['Noun']] # 추출된 값 중 명사만 추출
 
noun_list(Text(myList_filter, name="Okt"))

In [7]:
%python
ana201 = analysis(covid20_1)
noun_list(ana201)

In [8]:
%python
ana202 = analysis(covid20_2)
noun_list(ana202)

In [9]:
%python
ana203 = analysis(covid20_3)
noun_list(ana203)

In [10]:
%python
ana204 = analysis(covid20_4)
noun_list(ana204)

In [11]:
%python
ana205 = analysis(covid20_5)
noun_list(ana205)

In [12]:
%python
ana206 = analysis(covid20_6)
noun_list(ana206)

In [13]:
%python
noun_list(analysis(covid20_7))

%python

In [15]:
%python
ana208 = analysis(covid20_8)
noun_list(ana208)

In [16]:
%python
ana209 = analysis(covid20_9)
noun_list(ana209)

In [17]:
%python
ana2010 = analysis(covid20_10)
noun_list(ana2010)

In [18]:
%python
ana2011 = analysis(covid20_11)
noun_list(ana2011)

In [19]:
%python
ana2012 = analysis(covid20_12)
noun_list(ana2012)

In [20]:
%spark

val publicDF19 = spark.read.option("inferSchema", "true").option("encoding", "cp949").option("header","true").csv("서울시_우리마을가게_상권분석서비스(상권-점포)_2019년.csv")
val publicDF20 = spark.read.option("inferSchema", "true").option("encoding", "cp949").option("header","true").csv("서울시_우리마을가게_상권분석서비스(상권-점포)_2020년.csv")

In [21]:
%spark
val new19 = publicDF19.drop("기준_년_코드","기준_분기_코드","상권_구분_코드","상권_구분_코드_명","상권_코드","상권_코드_명","서비스_업종_코드","유사_업종_점포_수","프랜차이즈_점포_수")
val new20 = publicDF20.drop("기준_년_코드","상권_구분_코드","상권_구분_코드_명","상권_코드","상권_코드_명","서비스_업종_코드","유사_업종_점포_수","프랜차이즈_점포_수")

In [22]:
%spark

In [23]:
%spark
new19.show()
new20.show()

In [24]:
%spark
val data19 = new19.select(col("서비스_업종_코드_명").alias("service"), col("점포_수").alias("store_num"),col("개업_점포_수").alias("open_num"),col("개업_율").alias("open_rate"),col("폐업_률").alias("closure_rate"),col("폐업_점포_수").alias("closure_num"))
val data20 = new20.select(col("기준_분기_코드").alias("quarter"),col("서비스_업종_코드_명").alias("service"),col("개업_율").alias("open_rate"),col("폐업_률").alias("closure_rate"), col("점포_수").alias("store_num"),col("개업_점포_수").alias("open_num"),col("폐업_점포_수").alias("closure_num"))
data20.show()

In [25]:
%spark

In [26]:
%spark

data19.createOrReplaceTempView("data19")
spark.sql("SELECT service,sum(store_num) num FROM data19 GROUP BY service ORDER BY num desc ").show()

In [27]:
%spark

In [28]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(store_num) num FROM data20 WHERE quarter=1 GROUP BY service ORDER BY num desc ").show()

In [29]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(store_num) num FROM data20 WHERE quarter=2 GROUP BY service ORDER BY num desc ").show()

In [30]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(store_num) num FROM data20 WHERE quarter=3 GROUP BY service ORDER BY num desc ").show()

In [31]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(store_num) num FROM data20 WHERE quarter=4 GROUP BY service ORDER BY num desc ").show()

In [32]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(open_num) OPEN FROM data20 WHERE quarter=1 GROUP BY service ORDER BY OPEN desc ").show()

In [33]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(open_num) OPEN FROM data20 WHERE quarter=2 GROUP BY service ORDER BY OPEN desc ").show()

In [34]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(open_num) OPEN FROM data20 WHERE quarter=3 GROUP BY service ORDER BY OPEN desc ").show()

In [35]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(open_num) OPEN FROM data20 WHERE quarter=4 GROUP BY service ORDER BY OPEN desc ").show()

In [36]:
%spark

data19.createOrReplaceTempView("data19")
spark.sql("SELECT service,sum(closure_num) OPEN FROM data19 GROUP BY service ORDER BY OPEN desc ").show()

In [37]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(closure_num) OPEN FROM data20 WHERE quarter=1 GROUP BY service ORDER BY OPEN desc ").show()

In [38]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(closure_num) OPEN FROM data20 WHERE quarter=2 GROUP BY service ORDER BY OPEN desc ").show()

In [39]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(closure_num) OPEN FROM data20 WHERE quarter=3 GROUP BY service ORDER BY OPEN desc ").show()

In [40]:
%spark

data20.createOrReplaceTempView("data20")
spark.sql("SELECT service,sum(closure_num) OPEN FROM data20 WHERE quarter=4 GROUP BY service ORDER BY OPEN desc ").show()

In [41]:
%spark

data19.createOrReplaceTempView("data19")
spark.sql("SELECT service,avg(closure_rate) CLOSE FROM data19 GROUP BY service ORDER BY CLOSE desc ").show()

In [42]:
%spark

data20.createOrReplaceTempView("data20")
z.show(spark.sql("SELECT service,avg(closure_num) OPEN FROM data20 WHERE quarter=3 GROUP BY service ORDER BY OPEN desc "))

In [43]:
%spark